<%= form_with(model: more_day) do |form| %>
  <% if more_day.errors.any? %>
    <div style="color: red">
      <% more_day.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <span class="date-time"><%= form.date_select(:start_time, default: Date.today) %></span>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <span class="date-time"><%= form.date_select(:end_time, default: Date.tomorrow) %></span>
  </div>

  <div>
    <%= form.submit(@more_day.new_record? ? "Add period" : "Update period", class:"submit-btn") %>
  </div>
<% end %>
